.mainblog {
  display: flex;
}
.contentblog {
  padding-left: 0px;
  padding-right: 4rem;
  width: 67%;
}
.mainblog ul {
  font-size: 22px;
}
.mainblog p {
  font-size: 21px;
}

.blog_tags {
  color: $secondary;
}

.blog_content {
  h1 {
    font-size: 30px;
    margin-bottom: 2rem !important;
  }
}
