
.blog_Container {
  a {
    color: $dark !important;
  }
}
.blogTop {
  display: flex;
}

.blogTop_Title {
  margin-top: 2.7rem;
  margin-bottom: -1rem;
  font-size: 5rem;
  font-weight: 700;
  color: #212121;
}
.blogTop_MotoT {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3c3c3c;
  margin-top: 1.4rem;
}
.blogTop_MotoB {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #3c3c3c;
}

.blogDivider {
  position: relative;
  margin-top: 3.7rem;
  display: flex;
  @include s {
    flex-direction: column-reverse;
  }
}
.tagFilter_Container {
  position: sticky;
  top: 3.7rem;
  height: 14rem;
  width: 17.7rem;
  /* background-color: red; */
  font-size: 1rem;
  font-weight: 600;
  @include s {
    position: initial;
  }
}
.tagContainer {
  color: #212121;
  border-radius: 2rem;
  padding: 0.4rem;
}

.blog-preview-card {
  display: flex;
  height: 14rem;
  width: 65rem;
  /* justify-content: space-between; */
  // align-items: center;
  margin-right: 2rem;
  margin-bottom: 2.7rem;
  background-color: $default;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  // border: 0.01rem solid rgb(227, 227, 227); 
  background-color: $default;
  max-width:920px;
  
  img{
    max-width:340.9px;
    border-radius: 0.5rem !important;
    border-right: 0.01rem solid rgb(227, 227, 227);
  }
}
.blog-preview-card:hover {
  transform: translateY(-5px);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.blog-preview-card img {
  width: 24rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.blog-preview-card-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 0.7rem !important;
  color: black;
  /* text-align: center; */
  /* max-height: 4rem; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-preview-card-text {
  font-size: 1.1rem;
  color: black;
  margin-left: 0.7rem;
  /* text-align: justify; */
  // height: 4.2rem;
  width: 32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  h2 {
    display: none;
  }
}
.blog-preview-card-read-time {
  font-size: 0.805rem;
  overflow: hidden;
  margin: 0.5rem 0.5rem;
  color: rgba(2, 2, 2, 0.429);
  font-weight: 600;
}

.blog-preview-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .blog-preview-card {
    width: auto;
  }
  .blog-preview-card-text {
    width: auto;
  }
}

@media screen and (max-width: 475px) {
  .blog-preview-card {
    height: auto;
    flex-wrap: wrap;
  }
  .blog-preview-card img {
    width: 100%;
    height: 12rem;
  }
  .blog-preview-card-title,
  .blog-preview-card-text {
    margin-left: 0 !important;
  }
}
