.ChallengeCard {
    display: flex;
    align-items: center;
    border: 0.5px solid #d1d1d1;
    border-radius: 11px;
    max-width: 920px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
        height: 250px;
        max-width: 340.9px;
        margin-right: 20px;
        border-radius: 11px 0 0 11px;
    }

    h2 {
        font-size: 41px;
        font-weight: 400;
        margin: 0;
    }

    .chellenge-benefits-list {
        margin-top: 10px;
        padding-left: 0px;

        li {
            margin-bottom: 5px;
        }

    }

    .challenge-link {
        position: relative;
        margin-bottom: 10px;
        background: transparent;
        border-radius: 8px;
        border: 2px solid #C5CAF2;
        overflow: hidden;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0px;
            background-color: #C5CAF2;
            transition: all ease 0.3s;
            z-index: -1;

            i {
                transition: all ease 0.3s;
            }
        }

        &:hover {
            color: $dark;
            border-color: #C5CAF2;

            i {
                transform: translateX(7px);
                transition: all ease 0.3s;
            }

            &::after {
                width: 100%;
                transition: all ease 0.3s;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .ChallengeCard {
        width: auto;
    }

    .ChallengeCard-text {
        width: auto;
    }
}

@media screen and (max-width: 475px) {
    .ChallengeCard {
        height: auto;
        flex-wrap: wrap;
        border: 0;
    }

    .ChallengeCard img {
        width: 100%;
        // height: 12rem;
        margin-right: 0px;
        border-radius: 11px;
    }
}


.challenge-structure {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;

    .challenge-Content {
        //   flex: 1;
        max-width: 57rem;
        font-size: 1.2rem;

        ol {
            margin: 27px 0 27px 0;

            li {
                margin: 21px 0 21px 0;
            }
        }
    }

    .challenge-header {
        display: flex;
        padding: 0 0 10px 0;
        // background-color: red;

        h1 {
            font-size: 81px;
            font-weight: 300;
        }

        img {
            margin-right: 10px;
            height: 20.7rem;
            border-radius: 11px;
            object-fit: cover;
        }
    }

    .points {
        display: flex;
        border-top: 1px solid #1E566D;
        padding-top: 27px;
        margin-left: -27px;

        img {
            width: 16.5em;
            height: 16.5rem;
        }

        ol {
            margin-left: -20px;

            li {
                // list-style-type: disc;
                margin-bottom: 10px;
            }
        }


        h4 {
            font-size: 31px;
            font-weight: 300;
            padding: 10px 0 10px 0;
        }

        h5 {
            font-size: 21px;
            font-weight: 400;
            padding: 10px 0 10px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .ChallengeCard {
        width: auto;
    }

    .challenge-Content {
        width: auto;
    }
}

@media screen and (max-width: 475px) {
    .challenge-structure{
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
    .challenge-header {
        height: auto;
        flex-wrap: wrap;
    }
    
    .challenge-header img {
        width: 100%;
        // height: 12rem;
        margin-right: 0px;
        border-radius: 11px;
    }
    .challenge-header h1 {
        font-size: 51px !important;
    }
    
    .points{
        height: auto;
        flex-wrap: wrap;
    }
}
