.CommunityCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 0.5px solid #d1d1d1;
  border-radius: 11px;
  background-color: #C5CAF2;
  max-width: 1070px;

  .left-section {
    display: flex;
    align-items: center;
    flex: 1;

    img {
      margin-right: 70px;
      margin-left: 40px;
      max-width: 170px;

    }

    h2 {
      font-size: 24px;
      margin: 0;
    }

    .benefits-list {
      list-style-type: disc;
      margin-top: 10px;
      padding-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .qr-code {
      img {
        height: 220px;
      }
    }

    .Community-join-link {
      position: relative;
      background: transparent;
      border-radius: 8px;
      border: 2px solid #fff;
      color: #fff;
      overflow: hidden;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0px;
        background-color: #00fff1;
        transition: all ease 0.3s;
        z-index: -1;

        i {
          transition: all ease 0.3s;
        }
      }

      &:hover {
        color: $dark;
        border-color: #00fff1;

        i {
          transform: translateX(7px);
          transition: all ease 0.3s;
        }

        &::after {
          width: 100%;
          transition: all ease 0.3s;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .CommunityCard {
    width: auto;
  }

  .CommunityCard-text {
    width: auto;
  }
}

@media screen and (max-width: 475px) {
  .CommunityCard {
    height: auto;
    flex-wrap: wrap;
  }
  
  .CommunityCard img {
    width: 100%;
    margin: 0px;
  }
  
  .left-section {
    width: 100%;
    flex-wrap: wrap;
    // height: 12rem;
    margin: 0px;
    border-radius: 11px;
  }
  .left-section img {
    margin-bottom: 20px;
  }
}

.community-benefits {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefit {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }
}



.faq-section {
  // text-align: center;


  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  .faq-item {
    max-width: 1070px;
    width: 100%;
    margin-bottom: 20px;
    background-color: $default;
    border: solid 1px rgb(151, 151, 151);
    border-radius: 11px;
    transition: 1s;

    &.open {
      .question {
        background-color: #f5f5f5;
      }

      .answer {
        display: block;

        ul {
          list-style-type: disc;
          /* Add bullets to list items */
          margin-left: 20px;
        }
      }
    }

    .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 17px;
      // margin: 17px 0px;
      cursor: pointer;
      font-size: 18px;
      background-color: #fff;
      border-radius: 11px;

      // border-bottom: 1px solid #e0e0e0;

      .toggle-icon {
        font-size: 24px;
      }
    }

    .answer {
      display: none;
      padding: 15px;
      font-size: 16px;
      border-radius: 0 0 11px 11px;
    }
  }
}