.courses-container {
  margin: 0 auto;
  padding-right: 27px;
}

h1 {
  text-align: left;
}

.search-box {
  border-radius: 20px;
  /* border: none; */
  padding: 10px;
  // width: 250px;
  float: right;
  margin-top: -50px;
}

.chapterTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $default;
  border: solid 1px rgb(151, 151, 151);
  border-radius: 7px;
  height: 47px;
  /* overflow: hidden; */
  max-width: 60rem;
  // width: 60rem;
  padding: 0px 17px;
  margin: 17px 0px;

  h4 {
    font-size: 21px;
  }
}
.CompletedChater {
  // background-color: #ccd0f0;
  background-color: #d6f7d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px rgb(151, 151, 151);
  border-radius: 7px;
  height: 47px;
  /* overflow: hidden; */
  max-width: 60rem;
  // width: 60rem;
  padding: 0px 17px;
  margin: 17px 0px;
  h4 {
    font-size: 21px;
  }
}

.curicullums {
  display: flex;
}

.image-title {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: red($color: #000000);
  // width: 50rem

  img {
    height: 15rem;
    width: 25rem;
    border-radius: 11px;
    object-fit: cover;
  }
}

.title-description {
  margin-left: 20px;
  max-width: 32rem;
  width: 32rem;
}

.course-topcard {
  display: flex;
}

// .belowTitle {
//   // justify-content: space-between;
//   // background-color: red;
//   justify-content: center;
//   // height: 400px;
// }
.enroll-link {
  padding: 7px 31px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid #c5caf2;
  overflow: hidden;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0px;
    background-color: #c5caf2;
    transition: all ease 0.3s;
    z-index: -1;

    i {
      transition: all ease 0.3s;
    }
  }

  &:hover {
    color: $dark;
    border-color: #c5caf2;

    i {
      transform: translateX(7px);
      transition: all ease 0.3s;
    }

    &::after {
      width: 100%;
      transition: all ease 0.3s;
    }
  }
}

.pointer-none {
  pointer-events: none;
}

.titleCards {
  max-width: 20rem;
  flex: 1;
  padding-right: 10px;
}

.chapter-header {
  background-color: red;
}

.chapter-links {
  padding-left: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // background-color: red;
}

.Ch-number {
  font-size: 1.2rem;
  margin-right: 20px;
}

.linkCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 60rem;
  // width: 60rem;
  margin: 0px 0px;
  text-decoration: none;
  // background-color: red;
  padding-bottom: 10px;
  border-bottom: solid 1px grey;
  margin-bottom: 10px;
}

.linkImage {
  height: 10rem;
  width: 18rem;
  flex-shrink: 0;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;
    border: solid 1px #c5caf2;
  }
}

.link-mid {
  // height: 10rem;
  // max-width: 40rem;
  margin-right: 20px;

  a {
    font-size: 1.2rem;
  }
}

.bttnsection {
  height: 10rem;
}

.watch-bttn {
  background-color: #c5caf2;
  width: 6rem;
  color: $dark;
  font-weight: 600;
  border-radius: 11px;
  padding: 8px 16px;
  // margin-top: 10px;
  cursor: pointer;
}

.linkleftsection {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .course-topcard {
    flex-wrap: wrap;
  }
  .title-description {
    margin-left: 0px;
  }
}

@media screen and (max-width: 475px) {
  .course-topcard {
    flex-wrap: wrap;
  }
  .title-description {
    margin-left: 0px;
  }
  .chapter-links {
    flex-wrap: wrap;
  }
  .linkCard {
    // display: block;
    flex-wrap: wrap;
  }
  .linkImage {
    width: auto;
    height: 8rem;
  }
  // .link-mid{
  //   width: 15rem;
  // }
  .bttnsection {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
}
