.home {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  .inside_home {
    // width: 76%;
    @include m {
      width: 100%;
    }
    @include m {
      padding-right: 0 !important;
    }
  }
}
.homeTop {
  display: flex;
}

.homeTop_Title {
  margin-top: -2.7rem;
  margin-bottom: -1.7rem;
  margin-left: -0.5rem;
  font-size: 6.6rem;
  font-weight: 700;
  color: #212121;
}
.homeTop_MotoT {
  margin-top: 1.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: #3c3c3c;
}
.homeTop_MotoTT {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3c3c3c;
}
@media screen and (max-width: 768px) {
  .homeTop_Title {
    font-size: 4rem;
  }
  .homeTop_MotoT {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .homeTop_MotoTT {
    font-size: 0.9rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}

.trending_text {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  h2 {
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
  }
  .trending_text_color {
    color: $primary;
    padding-left: 7px;
  }
  .trending_text h4 {
    color: $primary;
  }

  .trending_bio {
    padding-top: -10px;
  }
}

.intro-video {
  display: flex;
  max-width: 870px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #212121;
  @include t {
    flex-direction: column;
  }
  .video {
    width: 760px;
    height: 235px;
    margin-left: 10px;
    margin-right: 10px;
    @include t {
      width: 100%;
      margin-left: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 7px;
      border: solid 1px #3c3c3c;
    }
  }
  .homeTop_MotoB {
    font-weight: 600;
    color: #3c3c3c;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    .video {
      max-width: 100%;
      margin-left: 0;
      height: 300px;
      iframe {
        width: 100%;
      }
    }
  }
}
