
.homeTop {
  display: flex;
}

.homeTop_Title {
  /* margin-top: 2.7rem; */
  margin-bottom: -1.7rem;
  margin-left: -0.5rem;
  font-size: 5rem;
  font-weight: 700;
  color: #212121;
}
.homeTop_MotoT {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3c3c3c;
  margin-top: 1.4rem;
}
.homeTop_MotoB {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3c3c3c;
  margin-bottom: -1.5rem;
}

.trending_text {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
 h2 {
  padding-right: 0px;
  padding-top: 0px;
  margin: 0px;

}
.trending_text_color {
  color: $primary;
  padding-left: 7px;
}
.trending_text h4 {
  color: $primary;
}

.trending_bio{
  padding-top: -10px;
}

@media screen and (max-width: 821px) {
  .homeTop_Title {
    font-size: 4rem;
  }
  .homeTop_MotoT {
    margin-top: 0;
  }
}}