.landing_container {
  overflow-x: hidden;
  background-color: $secondary;
  color: $default;
  .landing_banner {
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      background-image: url(/img/banner_left.png);
      width: 632px;
      height: 550px;
      left: -30px;
      top: -152px;
      background-repeat: no-repeat;
      z-index: -1;
      @include s {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(/img/banner_right.png);
      width: 632px;
      height: 550px;
      right: 65px;
      top: -152px;
      background-repeat: no-repeat;
      z-index: -1;
    }
    .explore_button {
      position: relative;
      background: transparent;
      border-radius: 8px;
      border: 2px solid #fff;
      color: #fff;
      overflow: hidden;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0px;
        background-color: #00fff1;
        transition: all ease 0.3s;
        z-index: -1;
        i {
          transition: all ease 0.3s;
        }
      }
      &:hover {
        color: $dark;
        border-color: #00fff1;
        i {
          transform: translateX(7px);
          transition: all ease 0.3s;
        }
        &::after {
          width: 100%;
          transition: all ease 0.3s;
        }
      }
    }
  }
  .landing_title {
    font-size: 7rem;
    @include s {
      font-size: 4rem;
    }
  }
  .text_red {
    color: $error;
  }
  .landing_input {
    outline: none;
    width: 400px;
    background: #ffffff66;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: $default;
  }
  .landing_button {
    background: #00fff1;
    border-radius: 8px;
  }
  .dsa_section {
    @include m {
      margin-bottom: 100px !important;
      img {
        width: 600px;
        height: 350px;
        @include s {
          width: 340px;
        }
      }
    }
    @include s {
      padding: 0 40px;
    }
  }
  .courses_section {
    padding: 0px 180px;
    .frontend_img {
      filter: drop-shadow(0px 0px 85px rgba(0, 0, 0, 0.25));
      transform: translateX(110px);
    }
    .data_img {
      filter: drop-shadow(0px 0px 85px #000);
      transform: translateY(90px);
    }
    @include m {
      padding: 0 80px !important;
      h1,
      h5 {
        text-align: center;
      }
      .course_img_box {
        justify-content: start !important;
        margin-top: 50px;
        @include s {
          margin-left: -81px;
          img {
            width: 200px;
            height: 280px;
          }
        }
      }
    }
    @include s {
      padding: 0 40px !important;
    }
  }
  .interact_section {
    padding: 0px 150px;
    .interact_title {
      position: sticky;
      top: 140px;
      height: fit-content;
    }
    .double_img_box {
      margin-bottom: 400px;
      img {
        box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.25);
      }
    }
    .chat_img {
      position: absolute;
      left: -70px;
      top: 52px;
    }
    .chat_solve_img {
      position: absolute;
      top: 50px;
      left: 200px;
    }
    @include m {
      padding: 0 80px !important;
      flex-direction: column-reverse;
      margin-top: 200px !important;
      h1 {
        text-align: center;
      }
      .img_section1 {
        margin-left: 70px;
        margin-bottom: 350px;
        @include s {
          margin-left: 0;
          .preview_img {
            width: 100%;
            height: 248px;
          }
          .chat_img {
            left: 10px;
            width: 290px;
            height: 400px;
          }
        }
      }
      .img_section2 {
        @include s {
          margin-bottom: 250px;
          .problem_img {
            width: 100%;
          }
          .chat_solve_img {
            left: 10px;
            top: 80px;
            height: 350px;
          }
        }
      }
      .chat_solve_img {
        height: 450px;
      }
      .interact_title {
        position: initial;
        margin-bottom: 80px !important;
        h1 {
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }
    @include s {
      padding: 0 30px !important;
    }
  }
  .footer_section {
    @include s {
      padding: 0 20px;
    }
  }
  .footer_input_box {
    @include s {
      justify-content: space-between !important;
      .landing_input {
        width: 100%;
      }
      .landing_button {
        white-space: nowrap;
      }
    }
  }
}
