.roadmap-structure {
  display: flex;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  gap: 2.4rem;

  .blog-Content {
    flex: 1;
    width: 57rem;
    font-size: 1.2rem;

    ol {
      margin: 27px 0 27px 0;

      li {
        margin: 21px 0 21px 0;
      }
    }
  }

  .roadmap-header {
    padding: 0 0 10px 0;

    h1 {
      padding-bottom: 20px;
    }

    img {
      width: 100%;
      height: 20.7rem;
      border-radius: 11px;
      object-fit: cover;
      border: solid 1px rgb(236, 235, 235);
    }
  }

  .roadmap-path {
    flex: 0 0 20rem;
    height: 25rem;
    border-radius: 11px;
    background-color: #C5CAF2;
    align-items: center;
    padding: 1rem;
    color: #1E566D;
    position: sticky;
    top: 1.7rem;

    .checkpoint {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 11px;
      color: #1E566D;

      img {
        height: 30px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        a {
          margin-left: 0.5rem;
          font-weight: 500;
          color: #1E566D;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .roadmap-structure {
    width: auto;
  }
}

@media screen and (max-width: 475px) {
  .roadmap-structure {
    height: auto;
    flex-wrap: wrap-reverse;
    border: 0;
  }
  .roadmap-header img {
      height: auto !important;
      border: solid 1px rgb(236, 235, 235);
  }
  .roadmap-path {
    flex: 1 !important;
    position: static !important;
    padding: 0px;
    height: auto !important;
  }

  .blog-Content ol {
    padding-left: 0;
  }

  .course-img img {
    max-width: 100%;
    // height: 12rem;
    margin-right: 0px;
    border-radius: 11px;
  }
}


.CourseCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  border: 0.5px solid #d1d1d1;
  border-radius: 11px;
  background-color: #C5CAF2;
  max-width: 1070px;

  img {
    margin-right: 20px;
    border-radius: 11px;
    height: auto;
    max-height: 200px;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }

  .course-benefits {
    margin-top: 10px;
    padding-bottom: 20px;
  }
}

.course-join-link {
  position: relative;
  background: transparent;
  width: 6.7rem;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  overflow: hidden;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0px;
    background-color: #00fff1;
    transition: all ease 0.3s;
    z-index: -1;

    i {
      transition: all ease 0.3s;
    }
  }

  &:hover {
    color: $dark;
    border-color: #00fff1;

    i {
      transform: translateX(7px);
      transition: all ease 0.3s;
    }

    &::after {
      width: 100%;
      transition: all ease 0.3s;
    }
  }
}

@media screen and (max-width: 768px) {
  .roadmap-structure {
    width: auto;
  }
}

@media screen and (max-width: 475px) {
  .CourseCard {
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    border: 0;
  }

  .CourseCard img{
    height: 170px;
    margin: 0px;
  }
}